<html>


<head>
	<link rel="stylesheet" href="/css/index.css">
	<script src="/js/vue.js"></script>

</head>



<body>

	<div id="app">
		{{ message }}
	</div>

	<div id="example-3">
		<button v-on:click="say('hi')">Say hi</button>
		<button v-on:click="say('what')">Say what</button>
		<script src="/js/index.js"></script>
		<script>
			var exam = new Vue({
				el: '#example-3',
				methods: {
					say: function (message) {
						alert(message)
					}
				}
			})
		</script>
	</div >
<!-- 为ECharts准备一个具备大小（宽高）的DOM容器-->
<div id='main' style='width:600px;height:400px;'></div>
<!-- 引入ECharts文件 -->
 <script src='../static/js/echarts.min.js'></script>
 <script>
	   //基于准备好的DOM，初始化echarts实例
	 var myChart = echarts.init(document.getElementById('main'));
	   //指定图表的配置项和数据
	 var option = {
		 title:{
			 text:'EChars入门'
		 },
		 //提示框组件
		 tooltip:{
			 //坐标轴触发，主要用于柱状图，折线图等
			 trigger:'axis'
		 },
		 //图例
		 legend:{
			 data:['销量']
		 },
		 //横轴
		 xAxis:{
			 data:["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
		 },
		 //纵轴
		 yAxis:{},
		 //系列列表。每个系列通过type决定自己的图表类型
		 series:[{
			 name:'销量',
			 //折线图
			 type:'line',
			 data:[5, 20, 36, 10, 10, 20]
		 }]
	 };
	 //使用刚指定的配置项和数据显示图表
	 myChart.setOption(option);
 </script>
</body >

</html >